<title>Subhujo Technologies | About</title>
{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}
			<div role="main" class="main">

				
				<section class="section section-default border-0  pb-5 appear-animation " data-appear-animation="fadeIn" data-appear-animation-delay="750">
					<div class="container py-4">

						<div class="row align-items-center">
							<div class="col-md-6 " data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
								<div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true,'dots':false}">
									<div>
										<img alt="" class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-aboutuspage-whoweare-1170x780.png'%}">
									</div>
									<div>
										<img alt="" class="img-fluid " src="{% static 'img/homepage/subhujotechnologies-aboutuspage-whoweare-1170x780.png'%}">
									</div>
								</div>
								
							</div>
							<div class="col-md-6">
								<div class="overflow-hidden mb-2">
									<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Who <strong class="font-weight-extra-bold text-color-thick">We Are</strong></h2>
								</div>
								<p class="appear-animation text-4" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400"  style="text-align: justify;">We help organizations with our expertise in optimizing work processes and leveraging technology to accomplish more with less. As technology specialists, we focus on streamlining operations, enhancing system efficiencies, and delivering positive business outcomes.
								</p>
							</div>
						</div>

					</div>
				</section>
				<section class="section section-default border-0 mt-0 bg-white  appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="750" >
					<div class="container py-3">

						<div class="row align-items-center">
							
							<div class="col-md-6">
								<div class="overflow-hidden mb-2">
									<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-0 mt-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="1200">Why <strong class="font-weight-extra-bold text-color-thick">choose us</strong></h2>
								</div>
								<p class="appear-animation  text-4" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400"  style="text-align: justify;">Subhujo Technologies stands at the forefront of the IT industry, excelling in IT services, product implementation, staff augmentation, and seamless system integration. Our approach integrates top-tier cloud solutions, cutting-edge digital technologies, robust automation, and cybersecurity expertise. This fusion of strengths allows us to swiftly enhance operational efficiency and scale for our customers, embodying our commitment to delivering optimal technology solutions. 

									With partnerships with leading global IT product companies, we stay on top of the technology curve, ready to help businesses gain a competitive edge. 
									</p>
								
							</div>
							<div class="col-md-6 " data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
								<div class="owl-carousel owl-theme nav-inside mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true,'dots':false}">
									<div>
										<img alt="" class="img-fluid" src="{% static 'aboutpage/img/first.png'%}">
									</div>
									<div>
										<img alt="" class="img-fluid " src="{% static 'aboutpage/img/first.png'%}">
									</div>
								</div>
								
							</div>
						</div>

					</div>
				</section>


				<section class="pt-3 pb-3" style="background-color: #f2f2f2;">

				<div class="container " >

					<div class="row mt-5 py-3 mb-3" >
						<div class="col-md-6">
							<div class="toggle toggle-primary toggle-simple m-0" data-plugin-toggle>
								<section class="toggle active mt-0">
									<a class="toggle-title">Our Vision</a>
									<div class="toggle-content">
										<p class="text-4" style="text-align: justify;">Advance business vertically, aiming for sustainable growth on a global scale, positioning ourselves as a leading force in the IT industry.</p>
									</div>
								</section>
								
							</div>
						</div>
						<div class="col-md-6">
							<div class="toggle toggle-primary toggle-simple m-0" data-plugin-toggle>
								<section class="toggle active mt-0">
									<a class="toggle-title">Our Mission</a>
									<div class="toggle-content">
										<p  class="text-4" style="text-align: justify;">
											Empower growth partners by delivering expertly crafted industry solutions that drive value and financial success. Passion fuels our commitment to excellence.
										</p>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</section>
					
					<!-- <div class="row">
						<div class="col py-4">
							<hr class="solid">
						</div>
					</div> -->
					
					<div class="container pt-4" >
					<div class="row">
						<div class="col-md-8 mx-md-auto text-center">

							<h2 class="text-color-dark font-weight-normal text-7 mb-0 pt-2">Our growth <strong class="font-weight-extra-bold text-color-thick ">and success journey</strong></h2>
							

							<section class="timeline "  id="timeline">
								<div class="timeline-body">
									<div class="timeline-date">
										<h3 class="text-primary font-weight-bold">2011</h3>
									</div>

									<article class="timeline-box left text-start appear-animation shadow" data-appear-animation="fadeIn" data-appear-animation-delay="200">
										<div class="timeline-box-arrow"></div>
										<div class="p-2" style="display: flex;flex-direction:column;justify-content: center;align-items: center;">
											<img alt="" class="img-fluid" src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-office-india-800X524.png'%}" />
											<h3 class="font-weight-bold text-3 mt-3 mb-1">India</h3>
											<p class="mb-0 text-4" >3-4-757/1, Raghavendra Swamy Temple Rd
												Chitrapuri Colony,
												Bagh Lingampalli,
												Narayanguda,
												Hyderabad,
												Telangana 500027</p>
										</div>
									</article>

									<div class="timeline-date">
										<h3 class="text-primary font-weight-bold">2011</h3>
									</div>

									<article class="timeline-box right text-start appear-animation shadow" data-appear-animation="fadeIn" data-appear-animation-delay="400">
										<div class="timeline-box-arrow"></div>
										<div class="p-2" style="display: flex;flex-direction:column;justify-content: center;align-items: center;">
											<img alt="" class="img-fluid" src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-office-southafrica-800X524.jpg'%}" />
											<h3 class="font-weight-bold text-3 mt-3 mb-1"> South Africa</h3>
											<p class="mb-0 text-4">79 7th Street,
												Parkmore,
												Sandton. 2196, 
												Johannesburg, 
												South Africa.</p>
										</div>
									</article>

									<div class="timeline-date">
										<h3 class="text-primary font-weight-bold">2021</h3>
									</div>

									<article class="timeline-box left text-start appear-animation shadow" data-appear-animation="fadeIn" data-appear-animation-delay="600">
										<div class="timeline-box-arrow"></div>
										<div class="p-2" style="display: flex;flex-direction:column;justify-content: center;align-items: center;">
											<img alt="" class="img-fluid" src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-office-nigeria-800X524.png'%}" />
											<h3 class="font-weight-bold text-3 mt-3 mb-1">Nigeria</h3>
											<p class="mb-0 text-4">Subhujo Technologies Nigeria Second Floor, Alphon House, N0 50/52 Toyin Street, Ikeja Lagos Nigeria</p>
										</div>
									</article>
									<div class="timeline-date">
										<h3 class="text-primary font-weight-bold">2022</h3>
									</div>

									<article class="timeline-box right text-start appear-animation shadow" data-appear-animation="fadeIn" data-appear-animation-delay="400">
										<div class="timeline-box-arrow"></div>
										<div class="p-2" style="display: flex;flex-direction:column;justify-content: center;align-items: center;">
											<img alt="" class="img-fluid" src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-office-dubai-800X524.jpg'%}" />
											<h3 class="font-weight-bold text-3 mt-3 mb-1">Dubai</h3>
											<p class="mb-0 text-4">Floor 1 Building 3 - Business Bay, Bay Square, Dubai, United Arab Emirates.</p>
										</div>
									</article>
								</div>
							</section>

						</div>
					</div>
				</div>
				




				<!-- follow us -->
				<section class="section section-height-2  my-4 section-background section-text-light section-center overlay overlay-show overlay-op-9 overlay-color-primary m-0 appear-animation" data-appear-animation="fadeIn" style="background-image: url(/img/bg-corporate-1-1.jpg); background-size: cover; background-position: center;">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="call-to-action-content" style="flex:start;">
									<h2 class="font-weight-bold text-6 mb-0">Follow us on</h2>
									
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="call-to-action-btn">
									<ul class="footer-social-icons social-icons mt-2">
										<li class="social-icons-facebook"><a href="https://www.facebook.com/profile.php?id=100089807891732 " target="_blank" title="Facebook"><i class="fab fa-facebook-f text-2" style="line-height:inherit"></i></a></li>
										<li class="social-icons-twitter"><a href="http://www.twitter.com/SubhujoT" target="_blank" title="Twitter"><i class="fab fa-twitter text-2" style="line-height:inherit"></i></a></li>
										<li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/subhujo-technologies-private-limited/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in text-2" style="line-height:inherit"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>


				<!-- <section class="bg-color-primary ">
					<div class="container  py-5">
				
						<div class="row">
							<div class="col-lg-10">
								<div class="overflow-hidden">
									<p class="lead mb-0 font-weight-bold text-6 appear-animation text-light" data-appear-animation="maskUp"
										data-appear-animation-delay="200">
										Follow us on
									</p>
								</div>
							</div>
							<div class="col-lg-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
								<ul class="footer-social-icons social-icons mt-2 float-lg-end">
									<li class="social-icons-facebook"><a href="https://www.facebook.com/profile.php?id=100089807891732 " target="_blank" title="Facebook"><i class="fab fa-facebook-f text-2 " style="line-height:2"></i></a></li>
								<li class="social-icons-twitter top-6"><a href=" https://twitter.com/SubhujoT" target="_blank" title="Twitter"><i class="fab fa-twitter " style="line-height:2"></i></a></li>
								<li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/subhujo-technologies-private-limited/ " target="_blank" title="Linkedin"><i class="fab fa-linkedin-in text-2" style="line-height:2"></i></a></li>
							</ul>
							</div>
						</div>
					</div>
				</section> -->

				

				<!-- follow us end -->
				<!-- our projects -->
				<!-- <div class="row mx-5 text-center">
					<div class="col">
						<h2 class="font-weight-normal text-6 mt-4">Our <strong class="font-weight-extra-bold text-color-thick">Clients</strong></h2>
					</div>
				</div>
				<div class="lightbox appear-animation mb-5" data-appear-animation="fadeInUpShorter" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}">
					<div class="owl-carousel owl-theme pb-3" data-plugin-options="{'items': 4, 'margin': 35,'autoplay':true, 'loop': true}">

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-discovery-1000x100.png'%}" class="img-fluid border-radius-0 slider-img" alt="" >
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">Discovery</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-discovery-1000x100.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-hcl-1000x100.png'%}" class="img-fluid border-radius-0 slider-img" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">hcl</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-hcl-1000x100.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-momentum-1000x100.png'%}" class="img-fluid border-radius-0 slider-img" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">momentum</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-momentum-1000x100.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-nedbank-1000x100.png'%}" class="img-fluid border-radius-0 slider-img" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">nedbank</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-nedbank-1000x100.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-postbank-1000x100.png'%}" class="img-fluid border-radius-0 slider-img" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">postbank</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-postbank-1000x100.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-sanral-1000x100.png'%}" class="img-fluid border-radius-0 slider-img" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">sanral</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-sanral-1000x100.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-standardbank-1000x100.png'%}" class="img-fluid border-radius-0 slider-img" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">standard bank</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-standardbank-1000x100.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-tcm-1000x100.png'%}" class="img-fluid border-radius-0 slider-img" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">tcm</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-tcm-1000x100.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-tcta-1000x100.png'%}" class="img-fluid border-radius-0 slider-img" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">tcta</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-tcta-1000x100.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-techmahindra-1000x100.png'%}" class="img-fluid border-radius-0 slider-img" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">tech mahindra</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-techmahindra-1000x100.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-transnet-1000x100.png'%}" class="img-fluid border-radius-0 slider-img" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">transet</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-transnet-1000x100.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

						<div class="portfolio-item">
							<span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
								<span class="thumb-info-wrapper border-radius-0">
									<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-tsystems-1000x1000.png'%}" class="img-fluid border-radius-0 slider-img" alt="">
									<span class="thumb-info-title">
										<span class="thumb-info-inner line-height-1 font-weight-bold text-dark position-relative top-3">tsystems</span>
										
									</span>
									<span class="thumb-info-action">
										<a href="#">
											<span class="thumb-info-action-icon thumb-info-action-icon-primary"><i class="fas fa-link"></i></span>
										</a>
										<a href="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourclients-tsystems-1000x1000.png'%}" class="lightbox-portfolio">
											<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-search text-dark"></i></span>
										</a>
									</span>
								</span>
							</span>
						</div>

					</div>
				</div> -->
				<div class="row text-center pt-4">
					<div class="col">
						<h2 class="word-rotator slide font-weight-bold text-8 mb-2">
							<span>Nurturing Growth with Successful Collaborations and Contented Clients.</span>
							<!-- <span class="word-rotator-words bg-high">
								<b class="is-visible">excited</b>
								<b>happy</b>
							</span>
							<span> Subhujo technologies...</span> -->
						</h2>
						<h4 class="text-primary lead tall text-4">MEET<strong class="text-color-thick fw-bold">OUR CLIENTS</strong> </h4>
					</div>
				</div>

				<div class="row text-center mt-5 mb-5">
					<div class="owl-carousel owl-theme " data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-discovery-200x80.png'%}" alt="">
						</div>
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-hcl-200x80.png'%}" alt="">
						</div>
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-momentum-200x80.png'%}" alt="">
						</div>
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-nedbank-200x80.png'%}" alt="">
						</div>
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-postbank-200x80.png'%}" alt="">
						</div>
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-sanral-200x80.png'%}" alt="">
						</div>
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-standardbank-200x80.png'%}" alt="">
						</div>
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-tcm-200x80.png'%}" alt="">
						</div>
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-tcta-200x80.png'%}" alt="">
						</div>
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-techmahindra-200x80.png'%}" alt="">
						</div>
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-transnet-200x80.png'%}" alt="">
						</div>
						<div>
							<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-tsystems-200x80.png'%}" alt="">
						</div>
					</div>
					
				</div>

			</div>


				<!-- projects end -->
				
				<!-- scrollable parallax -->
				
				<!-- scrollable parallax-end -->
				<section class="bg-color-primary">
					<div class="container  py-4">
				
						<div class="row">
							<div class="col-lg-10">
								<div class="overflow-hidden">
									<p class="lead mb-0 font-weight-bold appear-animation text-light" data-appear-animation="maskUp"
										data-appear-animation-delay="200">
										Reach out to us and allow our expertise to assist you in building remarkable projects. 
									</p>
								</div>
							</div>
							<div class="col-lg-2 appear-animation margin-mobile" data-appear-animation="fadeIn" data-appear-animation-delay="500">
								<a href="/contact/" target="_blank" class="btn btn-modern btn-light float-lg-end">Contact us</a>
							</div>
						</div>
					</div>
				</section>
				

				<section class="section section-default border-0 ">
					<div class="container py-4">

						<div class="row">
							<div class="col pb-2 text-center">
								<h2 class="text-color-dark font-weight-normal text-7 mb-0 ">Meet <strong class="font-weight-extra-bold text-color-thick">Our Team</strong></h2>
								<p class="text-4">With a proven track record of delivering successful implementation projects in Asia, South Africa, and the Middle East, we understand the intricacies of international business demands. Our expertise extends beyond global project management methodologies; we've honed our local knowledge through projects spanning Europe, the USA, the Middle East, and Asia, ensuring comprehensive and effective global deliveries.
								</p>
							</div>
						</div>
						<div class="row ">
							<div class="owl-carousel owl-theme pb-3" data-plugin-options="{'items': 4,'margin':20,'autoplay':true, 'loop': true}">
							
								<div class="portfolio-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="#">
											<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourteam-seven-800x800.png'%}" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Madan Kumar Ganti</span>
												<span class="thumb-info-type">Manager</span>
											</span>
										</a>
									</span>
									
								</span>
							</div>
						
							<div class="portfolio-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="#">
											<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourteam-six-800x800.png'%}" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Naveen Kumar Ganti</span>
												<span class="thumb-info-type">Team Lead</span>
											</span>
										</a>
									</span>
									
								</span>
							</div>
							<!-- <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400"> -->
							<div class="portfolio-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="#">
											<img src="{% static 'aboutpage/img/subhujo-technologies-our-team-priyanka-800x800.png'%}" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Priyanka Moon</span>
												<span class="thumb-info-type">PMO Consultant</span>
											</span>
										</a>
									</span>
									
								</span>
							</div>
							<!-- <div class="col-sm-6 col-lg-3 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600"> -->
								<div class="portfolio-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="#">
											<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourteam-one-800x800.png'%}" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Ramya Settibathula</span>
												<span class="thumb-info-type">Talent Acquisition Specialist</span>
											</span>
										</a>
									</span>
									
								</span>
							</div>
							
							<div class="portfolio-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="#">
											<img src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-ourteam-three-800x800.png'%}" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Sharmila Saladi</span>
												<span class="thumb-info-type">Talent Acquisition Specialist</span>
											</span>
										</a>
									</span>
									
								</span>
							</div>
							<div class="portfolio-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="#">
											<img src="{% static 'aboutpage/img/subhujo-technologies-our-team-sai-naveen-800x800.png'%}" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Sai Naveen Pilli</span>
												<span class="thumb-info-type">Talent Acquisition Specialist</span>
											</span>
										</a>
									</span>
									
								</span>
							</div>
							<div class="portfolio-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="#">
											<img src="{% static 'aboutpage/img/subhujo-technologies-our-team-anil-800x800.png'%}" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Anil Puilambhaita</span>
												<span class="thumb-info-type">Talent Acquisition Specialist</span>
											</span>
										</a>
									</span>
									
								</span>
							</div>
							<div class="portfolio-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
									<span class="thumb-info-wrapper border-radius-0">
										<a href="#">
											<img src="{% static 'aboutpage/img/subhujo-technologies-our-team-anjali-gupta-800x800.png'%}" class="img-fluid border-radius-0" alt="">
											<span class="thumb-info-title">
												<span class="thumb-info-inner">Anjali Gupta</span>
												<span class="thumb-info-type">Talent Acquisition Specialist</span>
											</span>
										</a>
									</span>
									
								</span>
							</div>
						</div>
					
					</div>
					</div>
				</section>
				


				<div class="container pb-5 pt-3">
					<div class="row text-center mt-5">
						<h4 class="text-primary lead tall text-4 text-uppercase pb-lg-5">Our<strong class="text-color-thick fw-bold">Esteemed Clients</strong></h4>
						
							<div class="col-lg-2">
								<img class="img-fluid"
									src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-kiatnakinbank-200x80.png'%}"
									alt="">
							</div>
							<div class="col-lg-2">
								<img class="img-fluid"
									src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-denso-200x80.png'%}" alt="">
							</div>
							<div class="col-lg-2">
								<img class="img-fluid"
									src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-fujitsu-200x80.png'%}" alt="">
							</div>
							<div class="col-lg-2">
								<img class="img-fluid"
									src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-nec-200x80 (2).png'%}" alt="">
							</div>
							<div class="col-lg-2">
								<img class="img-fluid"
									src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-redbull-200x80.png'%}" alt="">
							</div>
							<div class="col-lg-2">
								<img class="img-fluid"
									src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-kiatnakinbank-200x80.png'%}"
									alt="">
							</div>
							
						</div>
				
					</div>


					
			<!---Testimonial section start----->
			<!-- <section class="section section-height-3 bg-color-grey border-0 m-0 appear-animation" data-appear-animation="fadeIn">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">

							<div class="owl-carousel owl-theme stage-margin stage-margin-lg nav-dark nav-style-2 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 3}},'autoplay':true,'autoplayTimespeed':1000, 'margin': 100, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 100, 'autoHeight': true}">
								<div>
									<div class="testimonial testimonial-style-2 mb-0">
										<div class="testimonial-author">
											<img src="/static/img/clients/client-1.png" class="img-fluid rounded-circle" alt="">
										</div>
										<blockquote>
											<p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, laboriosam recusandae delectus nam nostrum est.</p>
										</blockquote>
										<div class="testimonial-author">
											<p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
										</div>
									</div>
								</div>
								<div>
									<div class="testimonial testimonial-style-2 mb-0">
										<div class="testimonial-author">
											<img src="/static/img/clients/client-2.png" class="img-fluid rounded-circle" alt="">
										</div>
										<blockquote>
											<p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, necessitatibus voluptatum! Incidunt dolorem ab voluptatum.</p>
										</blockquote>
										<div class="testimonial-author">
											<p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
										</div>
									</div>
								</div>
								<div>
									<div class="testimonial testimonial-style-2 mb-0">
										<div class="testimonial-author">
											<img src="/static/img/clients/client-3.png" class="img-fluid rounded-circle" alt="">
										</div>
										<blockquote>
											<p class="text-color-dark text-5 line-height-5 mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum neque hic blanditiis est, odio laborum.</p>
										</blockquote>
										<div class="testimonial-author">
											<p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
										</div>
									</div>
								</div>
								<div>
									<div class="testimonial testimonial-style-2 mb-0">
										<div class="testimonial-author">
											<img src="/static/img/clients/client-4.png" class="img-fluid rounded-circle" alt="">
										</div>
										<blockquote>
											<p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis earum excepturi mollitia, beatae numquam in.</p>
										</blockquote>
										<div class="testimonial-author">
											<p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
										</div>
									</div>
								</div>
								<div>
									<div class="testimonial testimonial-style-2 mb-0">
										<div class="testimonial-author">
											<img src="/static/img/clients/client-5.png" class="img-fluid rounded-circle" alt="">
										</div>
										<blockquote>
											<p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis earum excepturi mollitia, beatae numquam in.</p>
										</blockquote>
										<div class="testimonial-author">
											<p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
										</div>
									</div>
								</div>
								<div>
									<div class="testimonial testimonial-style-2 mb-0">
										<div class="testimonial-author">
											<img src="/static/img/clients/client-1.png" class="img-fluid rounded-circle" alt="">
										</div>
										<blockquote>
											<p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis earum excepturi mollitia, beatae numquam in.</p>
										</blockquote>
										<div class="testimonial-author">
											<p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
										</div>
									</div>
								</div>
								<div>
									<div class="testimonial testimonial-style-2 mb-0">
										<div class="testimonial-author">
											<img src="/static/img/clients/client-2.png" class="img-fluid rounded-circle" alt="">
										</div>
										<blockquote>
											<p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis earum excepturi mollitia, beatae numquam in.</p>
										</blockquote>
										<div class="testimonial-author">
											<p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
										</div>
									</div>
								</div>
								<div>
									<div class="testimonial testimonial-style-2 mb-0">
										<div class="testimonial-author">
											<img src="/static/img/clients/client-3.png" class="img-fluid rounded-circle" alt="">
										</div>
										<blockquote>
											<p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis earum excepturi mollitia, beatae numquam in.</p>
										</blockquote>
										<div class="testimonial-author">
											<p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
										</div>
									</div>
								</div>
								<div>
									<div class="testimonial testimonial-style-2 mb-0">
										<div class="testimonial-author">
											<img src="/static/img/clients/client-4.png" class="img-fluid rounded-circle" alt="">
										</div>
										<blockquote>
											<p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis earum excepturi mollitia, beatae numquam in.</p>
										</blockquote>
										<div class="testimonial-author">
											<p><strong class="font-weight-extra-bold text-2">- John Smith. Okler</strong></p>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section> -->
			<!----Testimonials section end------>





					

				<!-- <div class="container">
					<div class="row py-5 my-5">
						<div class="col">

							<div class="owl-carousel owl-theme mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
								<div>
									<img class="img-fluid opacity-2" src="img/logos/logo-1.png" alt="">
								</div>
								<div>
									<img class="img-fluid opacity-2" src="img/logos/logo-2.png" alt="">
								</div>
								<div>
									<img class="img-fluid opacity-2" src="img/logos/logo-3.png" alt="">
								</div>
								<div>
									<img class="img-fluid opacity-2" src="img/logos/logo-4.png" alt="">
								</div>
								<div>
									<img class="img-fluid opacity-2" src="img/logos/logo-5.png" alt="">
								</div>
								<div>
									<img class="img-fluid opacity-2" src="img/logos/logo-6.png" alt="">
								</div>
								<div>
									<img class="img-fluid opacity-2" src="img/logos/logo-4.png" alt="">
								</div>
								<div>
									<img class="img-fluid opacity-2" src="img/logos/logo-2.png" alt="">
								</div>
							</div>

						</div>
					</div>
				</div> -->

		

	{% endblock %}
