<title>subhujo technologies | Carrers</title>

{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}








<div role="main" class="main">
    <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-5" style="background-image: url(/static/carrerpage/img/subhujotechnologies-carrerspage-topbanner-2300x550.png);background-position: center right;">
        <div class="container">
            <div class="row">
                
               
            </div>
        </div>
    </section>
    <section class="pb-5 pt-5">
        <!-- <hr class="m-0"> -->
    
        <div class="container mt-0">
    
            <div class="row">
                <div class="col-lg-8 pt-5">
                    <div class="overflow-hidden">
                        <h2 class="font-weight-normal text-7 mb-2 appear-animation" data-appear-animation="maskUp"
                            data-appear-animation-delay="200">Find Your <strong
                                class="font-weight-extra-bold text-color-thick">Opportunity</strong></h2>
                    </div>
                    <!-- <div class="overflow-hidden mb-4">
                        <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc euismod facilisis neque, eu malesuada diam finibus non.</p>
                    </div> -->
                    <p class="text-color-light-3 mb-4 appear-animation text-equal" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="600">Subhujo Technologies is the perfect opportunity for those looking
                        to take their career to the next level. Our innovative IT solutions can open up new vistas of
                        possibilities, allowing you to do more with your skills and experience. We are committed to helping
                        our staff reach their potential and unlock their true professional potential. Subhujo Technologies
                        provides a supportive environment with plenty of available resources and training opportunities, so
                        you'll be able to tackle any challenge that comes your way.</p>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial testimonial-primary appear-animation" data-appear-animation="fadeIn"
                        data-appear-animation-delay="800">
                        <blockquote>
                            <p class="mb-0 text-equal">We offer plenty of opportunity for professional development and
                                growth here at Subhujo Technologies. Our innovative IT solutions can help you reach your
                                potential and take your career to the next level. Come join our team and see what we can do
                                together!</p>
                        </blockquote>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
    <section class="section section-default border-0 m-0">
        <div class="container py-4">

            <div class="row pb-4">
                <div class="col-md-12">
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <h4 class="mt-2 mb-2">Current <strong class="text-color-thick">Openings</strong></h4>

                        <div class="accordion accordion-modern accordion-modern-grey-scale-1 without-bg mt-4" id="accordion11">
                            {% for job_item in job_list %}
                                <div class="card card-default mb-2">
                                    <div class="card-header">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle text-3" data-bs-toggle="collapse" data-bs-parent="#accordion11" href="#collapse11One">
                                               {{ job_item.Title }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse11One" class="collapse show">
                                        <div class="card-body mt-3">
                                            <p>Suspendisse potenti. Curabitur euismod facilisis neque, eu malesuada diam finibus non. Nullam nec vehicula leo. Morbi porta ante eu feugiat mollis ellus blandit massa enim. Nullam id varius nunc ellus blandit massa enim. Nullam id varius nunc.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget.</p>

                                            <ul class="list list-inline mt-4 mb-3 text-2">
                                                <li class="list-inline-item">
                                                    <strong>LOCATION:</strong>
                                                    NEW YORK
                                                </li>
                                                <li class="list-inline-item ms-md-3">
                                                    <strong>QUALIFICATION:</strong>
                                                    3+ YEARS EXPERIENCE, GRADUATION
                                                </li>
                                            </ul>

                                            <a href="#" class="btn btn-modern btn-dark">Apply</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}



                            <!-- <div class="card card-default mb-2">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle text-3" data-bs-toggle="collapse" data-bs-parent="#accordion11" href="#collapse11Two">
                                            Infrastructure Monitoring - Software Developer
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse11Two" class="collapse">
                                    <div class="card-body mt-3">
                                        <p>Suspendisse potenti. Curabitur euismod facilisis neque, eu malesuada diam finibus non. Nullam nec vehicula leo. Morbi porta ante eu feugiat mollis ellus blandit massa enim. Nullam id varius nunc ellus blandit massa enim. Nullam id varius nunc.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget.</p>

                                        <ul class="list list-inline mt-4 mb-3 text-2">
                                            <li class="list-inline-item">
                                                <strong>LOCATION:</strong>
                                                NEW YORK
                                            </li>
                                            <li class="list-inline-item ms-md-3">
                                                <strong>QUALIFICATION:</strong>
                                                3+ YEARS EXPERIENCE, GRADUATION
                                            </li>
                                        </ul>

                                        <a href="#" class="btn btn-modern btn-dark">Apply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default mb-2">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle text-3" data-bs-toggle="collapse" data-bs-parent="#accordion11" href="#collapse11Three">
                                            Main Developer - Software Developer
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse11Three" class="collapse">
                                    <div class="card-body mt-3">
                                        <p>Suspendisse potenti. Curabitur euismod facilisis neque, eu malesuada diam finibus non. Nullam nec vehicula leo. Morbi porta ante eu feugiat mollis ellus blandit massa enim. Nullam id varius nunc ellus blandit massa enim. Nullam id varius nunc.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget.</p>

                                        <ul class="list list-inline mt-4 mb-3 text-2">
                                            <li class="list-inline-item">
                                                <strong>LOCATION:</strong>
                                                NEW YORK
                                            </li>
                                            <li class="list-inline-item ms-md-3">
                                                <strong>QUALIFICATION:</strong>
                                                3+ YEARS EXPERIENCE, GRADUATION
                                            </li>
                                        </ul>

                                        <a href="#" class="btn btn-modern btn-dark">Apply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default mb-2">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle text-3" data-bs-toggle="collapse" data-bs-parent="#accordion11" href="#collapse11Four">
                                            Front-End Developer - Software Developer
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse11Four" class="collapse">
                                    <div class="card-body mt-3">
                                        <p>Suspendisse potenti. Curabitur euismod facilisis neque, eu malesuada diam finibus non. Nullam nec vehicula leo. Morbi porta ante eu feugiat mollis ellus blandit massa enim. Nullam id varius nunc ellus blandit massa enim. Nullam id varius nunc.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget.</p>

                                        <ul class="list list-inline mt-4 mb-3 text-2">
                                            <li class="list-inline-item">
                                                <strong>LOCATION:</strong>
                                                NEW YORK
                                            </li>
                                            <li class="list-inline-item ms-md-3">
                                                <strong>QUALIFICATION:</strong>
                                                3+ YEARS EXPERIENCE, GRADUATION
                                            </li>
                                        </ul>

                                        <a href="#" class="btn btn-modern btn-dark">Apply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default mb-2">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle text-3" data-bs-toggle="collapse" data-bs-parent="#accordion11" href="#collapse11Five">
                                            Lead Designer - Design
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse11Five" class="collapse">
                                    <div class="card-body mt-3">
                                        <p>Suspendisse potenti. Curabitur euismod facilisis neque, eu malesuada diam finibus non. Nullam nec vehicula leo. Morbi porta ante eu feugiat mollis ellus blandit massa enim. Nullam id varius nunc ellus blandit massa enim. Nullam id varius nunc.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum magna ex, et faucibus lacus venenatis eget.</p>

                                        <ul class="list list-inline mt-4 mb-3 text-2">
                                            <li class="list-inline-item">
                                                <strong>LOCATION:</strong>
                                                NEW YORK
                                            </li>
                                            <li class="list-inline-item ms-md-3">
                                                <strong>QUALIFICATION:</strong>
                                                3+ YEARS EXPERIENCE, GRADUATION
                                            </li>
                                        </ul>

                                        <a href="#" class="btn btn-modern btn-dark">Apply</a>
                                    </div>
                                </div>
                            </div> -->



                        </div>
                    </div>

                </div>
                <!-- <div class="col-md-4">
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="400">
                        <div class="owl-carousel owl-theme dots-inside mb-0 pb-0" data-plugin-options="{'items': 1, 'autoplay': true, 'autoplayTimeout': 4000, 'margin': 10, 'animateOut': 'fadeOut', 'dots': false}">
                            <div class="pb-5">
                                <img alt="" class="img-fluid rounded" src="{% static 'carrerpage/img/subhujotechnologies-carrerspage-openings-1170x780.png'%}">
                            </div>
                            <div class="pb-5">
                                <img alt="" class="img-fluid rounded" src="{% static 'carrerpage/img/subhujotechnologies-carrerspage-jobopenings-hiringimage-1170x780.jpg'%}">
                            </div>
                        </div>

                        <div class="toggle toggle-primary toggle-simple" data-plugin-toggle>
                            <section class="toggle active">
                                <a class="toggle-title">Our Benefits</a>
                                <div class="toggle-content">
                                    <p class="text-equal">At Subhujo Technologies, we understand the importance of providing our employees with a comprehensive benefits package that supports their health, well-being, and professional development. Our benefits program is designed to ensure that our team members feel valued, supported, and motivated to do their best work. We offer a range of benefits that includes health  insurance, flexible work schedules, paid time off, competitive salaries We believe that our benefits program is a reflection of our commitment to our employees and their continued success, and we are proud to offer a package that meets their diverse needs and priorities</p>
                                </div>
                            </section>
                            <section class="toggle">
                                <a class="toggle-title">Our Culture</a>
                                <div class="toggle-content">
                                    <p class="text-equal">At Subhujo Technologies, we have a dynamic and innovative culture that is focused on collaboration, creativity, and excellence. Our team is made up of individuals who are passionate about technology and who share a common goal of delivering high-quality software solutions to our clients.Our culture is defined by our shared values of respect, integrity, teamwork, and accountability, and we strive to create a workplace that is both fulfilling and fun. At Subhujo Technologies, we are more than just colleagues – we are a family, and we support each other in achieving our goals and realizing our potential.</p>
                                </div>
                            </section>
                            <section class="toggle">
                                <a class="toggle-title">Join Our Team</a>
                                <div class="toggle-content">
                                    <p class="text-equal">Subhujo Technologies is an innovative and dynamic company that is dedicated to delivering high-quality software solutions to clients across a range of industries. If you are passionate about technology and are looking for an exciting opportunity to join a team of skilled professionals, we invite you to consider joining us. At Subhujo Technologies, we value creativity, collaboration, and a commitment to excellenceWe believe that our employees are our greatest asset and we strive to create a supportive and inclusive work environment that fosters growth and professional development. If you share our values and are interested in exploring opportunities with Subhujo Technologies, we encourage you to reach out to us to learn more about our current openings and how you can become a part of our team.</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div> -->
            </div>

        </div>
    </section>

</div>
{% endblock %}