<title>subhujo technologies | Contact</title>
{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}

            <div role="main" class="main">

				<!-- <section class="page-header page-header-modern page-header-background page-header-background-md parallax overlay overlay-color-dark overlay-show overlay-op-5 mt-0" data-plugin-parallax data-plugin-options="{'speed': 1.2}" data-image-src="img/page-header/page-header-parallax.jpg"> -->
					
					<section class="section section-height-3 section-background section-text-light section-center overlay overlay-show overlay-op-1 overlay-color-dark m-0 appear-animation" data-appear-animation="fadeIn" style="background-image: url('/static/contactpage/img/subhujotechnologies-contactpage-topbanner-2300x550-2.png'); background-size: cover; background-position: center;" >
					<div class="container py-4 my-4">
						<div class="row py-4">
							
						</div>
					</div>
				</section>
				
				<div class="container">

					<div class="row py-4">
						<div class="col-lg-7">

							<h2 class="font-weight-bold text-8 mt-2 mb-0">Contact Us</h2>
							<p class="mb-4">Feel free to ask for details, don't save any questions!</p>

							<form class="contact-form" action="php/contact-form.php" method="POST">
								<div class="contact-form-success alert alert-success d-none mt-4">
									<strong>Success!</strong> Your message has been sent to us.
								</div>

								<div class="contact-form-error alert alert-danger d-none mt-4">
									<strong>Error!</strong> There was an error sending your message.
									<span class="mail-error-message text-1 d-block"></span>
								</div>

								<div class="row">
									<div class="form-group col-lg-6">
										<label class="form-label mb-1 text-2">Full Name</label>
										<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control text-3 h-auto py-2" name="name" required>
									</div>
									<div class="form-group col-lg-6">
										<label class="form-label mb-1 text-2">Email Address</label>
										<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control text-3 h-auto py-2" name="email" required>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<label class="form-label mb-1 text-2">Subject</label>
										<input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control text-3 h-auto py-2" name="subject" required>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<label class="form-label mb-1 text-2">Message</label>
										<textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control text-3 h-auto py-2" name="message" required></textarea>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<div class="g-recaptcha" data-sitekey="YOUR_RECAPTCHA_SITE_KEY"></div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<input type="submit" value="Send Message" class="btn btn-primary btn-modern" data-loading-text="Loading...">
									</div>
								</div>
							</form>

						</div>
						<div class="col-lg-5">

							<div class="overflow-hidden mb-1">
								<h4 class="text-primary mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Get in <strong>Touch</strong></h4>
							</div>
							<div class="overflow-hidden mb-3">
								<p class=" mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">Innovation is key to success in the IT industry. Let's innovate together and stay in touch.</p>
							</div>
							

							<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
								<h4 class="text-primary pt-5">Our <strong>Office</strong></h4>
								<ul class="list list-icons list-icons-style-3 mt-2">
									<li><i class="fas fa-map-marker-alt top-6"></i> <strong>Address:</strong> 3-4-757/1, Raghavendra Swamy Temple Rd
										Chitrapuri Colony
										Bagh Lingampalli
										Narayanguda
										Hyderabad
										Telangana 500027, India
										</li>
									<li><i class="fas fa-phone top-6"></i> <strong>Phone:</strong>+918309292171</li>
									<li><i class="fas fa-envelope top-6"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">info@subhujo.com</a></li>
								</ul>

								

								<h4 class="text-primary pt-5">Business <strong>Hours</strong></h4>
								<ul class="list list-icons list-dark mt-2">
									<li><i class="far fa-clock top-6"></i> Monday - Friday - 11am to 8pm</li>
									<li><i class="far fa-clock top-6"></i> Saturday,Sunday - Closed</li>
								</ul>
							</div>

						</div>

					</div>

				</div>

					</div>

				</div>

			</div>
            <div id="googlemaps" class="google-map mt-0" style="height: 500px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.2512714864283!2d78.488322614789!3d17.399724988071146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99c38dd00001%3A0xedfbb7ccd99419d9!2sSubhujo%20Simplifies!5e0!3m2!1sen!2sin!4v1673344630383!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


			

{% endblock %}









