<title>subhujo technologies | home</title>
{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}


			<div role="main" class="main">
				<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 7000}" data-dynamic-height="['670px','670px','670px','550px','500px']" style="height: 670px;">
					<div class="owl-stage-outer">
						<div class="owl-stage">

							<!-- Carousel Slide 1 -->
							<div class="owl-item position-relative overlay-color-primary" style="background-image: url(static/img/homepage/subhujo-application-development.jpg); background-color: #2E3136; background-size: cover; background-position: center;">
								<div class="container position-relative z-index-1 h-100">
									<div class="d-flex flex-column align-items-center justify-content-center h-100">
										<h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorter" data-plugin-options="{'minWindowWidth': 0}">
											<span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
												<img src="{% static 'img/slides/slide-title-border.png'%}" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
											</span>
											Welcome to<span class="position-relative"> Subhujo  <span class="position-absolute left-50pct transform3dx-n50 top-0 mt-4"><img src="img/slides/slide-blue-line.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}" alt="" /></span></span>
											<span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
												<img src="{% static 'img/slides/slide-title-border.png'%}" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
											</span>
										</h3>
										<h1 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation text-center" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">software consulting and development services.</h1>
										<!-- <p class="text-4 text-color-light font-weight-light opacity-7 mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0}">Check out our Services and features</p> -->
									</div>
								</div>
							</div>

							<!-- Carousel Slide 2 -->
							<div class="owl-item position-relative overlay overlay-show overlay-op-8 lazyload" data-bg-src="{% static 'img/homepage/subhujotechnologies-homepage-topbanner-testing-1920x980.png'%}" style="background-size: cover; background-position: center;">
								<div class="container position-relative z-index-3 h-100">
									<div class="row justify-content-center align-items-center h-100">
										<div class="col-lg-6">
											<div class="d-flex flex-column align-items-center">
												<h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorter" data-plugin-options="{'minWindowWidth': 0}">
													<span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
														<img src="{% static 'img/lazy.png'%}" data-src="{% static 'img/slides/slide-title-border.png'%}" class="w-auto appear-animation lazyload" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'imgFluid': false, 'minWindowWidth': 0}" alt="" />
													</span>
													Welcome to Subhujo
													<span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
														<img src="{% static 'img/lazy.png'%}" data-src="{% static 'img/slides/slide-title-border.png'%}" class="w-auto appear-animation lazyload" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'imgFluid': false, 'minWindowWidth': 0}" alt="" />
													</span>
												</h3>
												<h2 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">Testing</h2>
												<!-- <p class="text-4 text-color-light font-weight-light opacity-7 text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 30}">Lorem ipsum <strong class="text-color-light">1234</strong>  dolor sit amet, consectetur adipiscing elit.</p> -->
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Carousel Slide 3 -->
							<div class="owl-item position-relative overlay  overlay-show overlay-op-8 lazyload" data-bg-src="{% static 'img/homepage/subhujotechnologies-homepage-ititesstaffing-1920x980.png'%}" style="background-size: cover; background-position: center;">
								<div class="container position-relative z-index-3 h-100">
									<div class="row justify-content-center align-items-center h-100">
										<div class="col-lg-6">
											<div class="d-flex flex-column align-items-center">
												<h3 class="position-relative text-color-light text-4 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorter" data-plugin-options="{'minWindowWidth': 0}">
													<span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
														<img src="{% static 'img/lazy.png'%}" data-src="{% static 'img/slides/slide-title-border.png'%}" class="w-auto appear-animation lazyload" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'imgFluid': false, 'minWindowWidth': 0}" alt="" />
													</span>
													Welcome to Subhujo
													<span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
														<img src="{% static 'img/lazy.png'%}" data-src="{% static 'img/slides/slide-title-border.png'%}" class="w-auto appear-animation lazyload" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'imgFluid': false, 'minWindowWidth': 0}" alt="" />
													</span>
												</h3>
												<h2 class=" text-12 text-color-light font-weight-extra-bold appear-animation mb-3" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 300, 'animationName': 'fadeInRightShorterOpacity', 'letterClass': 'd-inline-block'}">IT /ITES Staffing</h2>
												<!-- <p class="text-4 text-color-light font-weight-light text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 2000, 'minWindowWidth': 0}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="owl-nav">
						<button type="button" role="presentation" class="owl-prev"></button>
						<button type="button" role="presentation" class="owl-next"></button>
					</div>
					<div class="owl-dots mb-5">
						<button role="button" class="owl-dot active"><span></span></button>
						<button role="button" class="owl-dot"><span></span></button>
						<button role="button" class="owl-dot"><span></span></button>
					</div>
				</div>
				

				<div class="home-intro bg-primary" id="home-intro">
					<div class="container">

						<div class="row align-items-center">
							<div class="col-lg-8">
								<p>
									Get in touch with us today to find out how Subhujo Technology can power up your  <span class="highlighted-word">organization</span>
									<!-- <span>Phasellus blandit massa enikklam id valorem ipsum dolor sit amet, consectetur.</span> -->
								</p>
							</div>
							<div class="col-lg-4">
								<div class="get-started text-start text-lg-end">
									<a href="/contact/" class="btn btn-secondary btn-lg text-3 font-weight-semibold px-4 py-3">Contact us</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="container">
					<div class="row align-items-center mb-5">
						<div class="col-lg-7 pe-3 appear-animation" data-appear-animation="fadeInRightShorter">
							<h2 class="font-weight-normal text-6 mb-4"><strong class="font-weight-extra-bold text-color-thick">Who </strong >We Are</h2>
							<p class=" pe-2 mb-4" style="text-align:justify">Subhujo Technologies is a cutting-edge technology company that specializes in providing innovative and high-quality solutions for businesses across various industries. With a team of highly skilled professionals, we are committed to delivering custom software development, web and mobile app development, cloud-based solutions, and AI-driven solutions this meet to unique needs of its clients. Our approach is centered on creating solutions that enhance productivity, reduce costs, and drive growth for our clients' businesses.</p>
							<!-- <p class="mb-4 pe-2" style="text-align:justify"> At Subhujo Technologies, we are dedicated to grow our clients achieve their business goals through our expertise in technology and commitment to delivering exceptional service</p> -->
							<a class="btn  btn-secondary btn-lg text-3 font-weight-semibold  py-2 px-4 mb-1" href="/contact/"><strong class="text-white">VIEW MORE</strong><i class="fas fa-chevron-right text-2 ps-2 text-light"></i></a>
						</div>
						<div class="col-lg-5">
							<div class="row mt-5 mt-lg-0">
								<div class="col-md-8 col-lg-6 text-center text-lg-start mx-auto">
									<img class="img-fluid m-3 my-0 mt-lg-5 pt-lg-5 appear-animation" src="{% static 'img/homepage/subhujotechnologies-homepage-whoweare-185x145.png'%}" alt="Office" data-appear-animation="expandIn" data-appear-animation-delay="200">
								</div>
								<div class="col-md-8 col-lg-6 ps-lg-0 text-center text-lg-start mx-auto">
									<img class="img-fluid m-3 appear-animation" src="{% static 'aboutpage/img/subhujotechnologies-aboutpage-whoweare-185x145.png'%}" alt="Office" data-appear-animation="expandIn" data-appear-animation-delay="400">
									<img class="img-fluid m-3 appear-animation" src="{% static 'img/homepage/subhujotechnologies-homepage-whoweare-meeting-185x145.png'%}" alt="Office" data-appear-animation="expandIn" data-appear-animation-delay="200">
								</div>
							</div>
						</div>
					</div>
				</div>
				<section class="section section-primary">
					<div class="container">
						<div class="row counters counters-text-light">
							<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
								<div class="counter">
									<i class="icons icon-user text-color-dark"></i>
							<strong class="text-color-light font-weight-extra-bold" data-to="35" data-append="+">0</strong>
							<label class="text-4 mt-1">Happy Clients</label>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
								<div class="counter">
									<i class="icons icon-badge text-color-dark"></i>
							<strong class="text-color-light font-weight-extra-bold" data-to="22">0</strong>
							<label class="text-4 mt-1">Years In Business</label>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3 mb-4 mb-sm-0">
								<div class="counter">
									<i class="icons icon-graph text-color-dark"></i>
							<strong class="text-color-light font-weight-extra-bold" data-to="120">0</strong>
							<label class="text-4 mt-1">Technical resources</label>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3">
								<div class="counter">
									<i class="icon-trophy icons"></i>
							<strong class="text-color-light font-weight-extra-bold" data-to="15">0</strong>
							<label class="text-4 mt-1">Internal resources</label>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section bg-light" style="margin-top: 0px;">
				<div class="container bg-white">
					<div class="row text-center ">
						<div class="col-md-11 mx-md-auto">
							<h1 class="word-rotator slide font-weight-bold text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorter">
								<span>subhujo technologies</span>
								<span class="word-rotator-words bg-highlight">
									<b class="is-visible">strategy</b>
									<b>planning </b>
									<b>infusion</b>
								</span>
								<span>will develop your business growth</span>
							</h1>
							<p class=" appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
								Subhujo technologies have the perfect formula to make your business Soar. Our unique strategy, planning and infusion can help unlock unprecedented growth potential for you!
							</p>
						</div>
					</div>
				</div>

				<div class="appear-animation bg-white" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
					<div class="home-concept mt-5">
						<div class="container">

							<div class="row text-center">
								<span class="sun"></span>
								<span class="cloud"></span>
								<div class="col-lg-2 ms-lg-auto">
									<div class="process-image">
										<img src="{% static 'img/homepage/subhujotechnologies-homepage-strategy-145x145.png'%}" alt="" />
										<strong>Strategy</strong>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="process-image process-image-on-middle">
										<img src="{% static 'img/homepage/subhujotechnologies-homepage-planning-145x145.png'%}" alt="" />
										<strong>Planning</strong>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="process-image">
										<img src="{% static 'img/homepage/subhujotechnologies-homepage-buildimage-145x145.png'%}" alt="" />
										<strong>Build</strong>
									</div>
								</div>
								<div class="col-lg-4 ms-lg-auto">
									<div class="project-image">
										<div id="fcSlideshow" class="fc-slideshow">
											<ul class="fc-slides">
												<li><a href="#"><img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-build-338x338.png'%}" alt="" /></a></li>
												<li><a href="#"><img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-build-338x338.png'%}" alt="" /></a></li>
												<li><a href="#"><img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-build-338x338.png'%}" alt="" /></a></li>
											</ul>
										</div>
										<strong class="our-work">Our Work</strong>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				</section>
				
<!-- our services -->
<div class="container mt-5  pb-4">
	<h2 class="font-weight-normal text-7 mb-5 text-center ">Our <strong class="font-weight-extra-bold text-color-thick">Services</strong></h2>
<div class="row mb-2 pb-3">

	<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
		

		<div class="card flip-card flip-card-3d bg-transparent text-center rounded-0">
			<div class="flip-front p-5">
				<div class="flip-content my-4">
				
					<img  src="{% static 'img/homepage/development.png'%}"  class="img-fluid" alt="application development">
				
					<h4 class="font-weight-bold text-color-primary text-4">Application Development</h4>
					<p >At Subhujo Technologies, let us take your business to the next level with our custom software application development. Our experienced developers can create tailor-made applications that will help you .</p>	
				</div>
			</div>
			<div class="flip-back d-flex align-items-center p-5" style="background-image: url(static/img/homepage/service-bg-2.png); background-size: cover; background-position: center;">
				<div class="flip-content my-4">
					<h4 class="font-weight-bold text-color-light"></h4>
					<p class="font-weight-light text-color-light ">  meet your unique needs and goals</p>
					<a href="/application_development/" class="btn btn-primary btn-modern  font-weight-bold">READ MORE</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-4 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
		

		<div class="card flip-card flip-card text-center rounded-0">
			<div class="flip-front p-5">
				<div class="flip-content my-4">
					<img src="{% static 'img/homepage/offshoredevelopment.png'%}" class="img-fluid" alt="offshore development"/>
					<h4 class="font-weight-bold text-color-primary text-4">Offshore Development</h4>
					<p > Subhujo technologies provides an efficient and cost-effective solution for business owners with Offshore Development Centers (ODC). Our experienced team is able to create a dedicated group of skilled developers that are  </p>	
				</div>
			</div>
			<div class="flip-back d-flex align-items-center p-5" style="background-image: url(static/img/homepage/subhujotechnologies-homepage-services-offshoredevelopment-379x350.png); background-size: cover; background-position: center;">
				<div class="flip-content my-4">
					<h4 class="font-weight-bold text-color-light"></h4>
					<p class="font-weight-light text-color-light ">carefully chosen to accommodate your company's culture. This specialized team will work just for you in a secured environment at our offshore site.</p>
					<a href="/offshore_development/" class="btn btn-primary btn-modern text-color-light font-weight-bold">READ MORE</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
		

		<div class="card flip-card flip-card text-center rounded-0">
			<div class="flip-front p-5">
				<div class="flip-content my-4">
					<img src="{% static 'img/homepage/cropratetraining.png'%}" class="img-fluid" alt="offshore development"/>
					<h4 class="font-weight-bold text-color-primary text-4">Corporate Training</h4>
					<p>At Subhujo Technologies, provide customized corporate training tailored to your organization's needs. Our range of in-house training, public seminars and coaching services are sure to increase your </p>	
				</div>
			</div>
			<div class="flip-back d-flex align-items-center p-5" style="background-image: url(static/img/homepage/subhujotechnologies-homepage-services-corporatetraining-379x350.png); background-size: cover; background-position: center;">
				<div class="flip-content my-4">
					<h4 class="font-weight-bold text-color-light"></h4>
					<p class="font-weight-light text-color-light ">employee's focus, energy and vision and enhance their effectiveness both personally and professionally.</p>
					<a href="/corporate_training/" class="btn btn-primary btn-modern text-color-light font-weight-bold">READ MORE</a>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="row mb-2 pb-3"> -->
	<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
		

		<div class="card flip-card text-center rounded-0">
			<div class="flip-front p-5">
				<div class="flip-content my-4">
					<img src="{% static 'img/homepage/SAP.png'%}" class="img-fluid" alt="SAP "/>
					<h4 class="font-weight-bold text-color-primary text-4">SAP</h4>
					<p >Subhujo Technologies offers a comprehensive business solution with SAP Business One, providing true visibility into all areas of your organization. With this single integrated package you'll  have </p>	
				</div>
			</div>
			<div class="flip-back d-flex align-items-center p-5" style="background-image: url(static/img/homepage/subhujotechnologies-homepage-services-sap-379x350.png); background-size: cover; background-position: center;">
				<div class="flip-content my-4">
					<h4 class="font-weight-bold text-color-light"></h4>
					<p class="font-weight-light text-color-light "> access  to every detail that matters and be able to keep track of crucial information quickly and easily!</p>
					<a href="/sap/" class="btn btn-primary btn-modern text-color-light font-weight-bold">READ MORE</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-4 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
		

		<div class="card flip-card flip-card text-center rounded-0">
			<div class="flip-front p-5">
				<div class="flip-content my-4">
					<img src="{% static 'img/homepage/testing.png'%}" class="img-fluid" alt="SAP "/>
					<h4 class="font-weight-bold text-color-primary text-4">Testing</h4>
					<p > We believe that software testing is essential for releasing top-notch products crafted with precision. Our services offer assurance of a wide check to ensure your product's success upon release; and  our team</p>	
				</div>
			</div>
			<div class="flip-back d-flex align-items-center p-5" style="background-image: url(static/img/homepage/subhujotechnologies-homepage-services-testing-390x350.png); background-size: cover; background-position: center;">
				<div class="flip-content my-4">
					<h4 class="font-weight-bold text-color-light"></h4>
					<p class="font-weight-light text-color-light ">Maginified the expertise needed to fulfill all your software testing requirements!.</p>
					<a href="/testing/" class="btn btn-primary btn-modern text-color-white font-weight-bold">READ MORE</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
		

		<div class="card flip-card flip-card text-center rounded-0">
			<div class="flip-front p-5">
				<div class="flip-content my-4">
					<img src="{% static 'img/homepage/itstaffing.png'%}" class="img-fluid" alt="SAP "/>
					<h4 class="font-weight-bold text-color-primary text-4">IT /ITES Staffing</h4>
					<p>Subhujo  specialize in providing tailored recruitment solutions to IT enabled services with our team of experienced professionals. We understand the importance of accurately identifying an ideal  </p>	
				</div>
			</div>
			<div class="flip-back d-flex align-items-center p-5" style="background-image: url(static/img/homepage/subhujotechnologies-homepage-services-it&itesstaffing-390x350.png); background-size: cover; background-position: center;">
				<div class="flip-content my-4">
					<h4 class="font-weight-bold text-color-light"></h4>
					<p class="font-weight-light text-color-light ">candidate that will not only meet expectations but also thrive within your organization.</p>
					<a href="/it_ites_staffing/" class="btn btn-primary btn-modern text-color-light font-weight-bold">LEARN MORE</a>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->

<!-- <div class="row mb-2 pb-3"> -->
	<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
		

		<div class="card flip-card text-center rounded-0">
			<div class="flip-front p-5">
				<div class="flip-content my-4">
					<img src="{% static 'img/homepage/datawarehouse.png'%}" class="img-fluid" alt="SAP "/>
					<h4 class="font-weight-bold text-color-primary text-4">Datawarehousing</h4>
					<p >Subhujo Technologies provides comprehensive and reliable data warehouse solutions that streamline the way your business accesses, integrates and utilizes essential information and  perfect solution to </p>	
				</div>
			</div>
			<div class="flip-back d-flex align-items-center p-5" style="background-image: url(static/img/homepage/subhujotechnologies-homepage-services-datawarehousing-390x350.png); background-size: cover; background-position: center;">
				<div class="flip-content my-4">
					<h4 class="font-weight-bold text-color-light"></h4>
					<p class="font-weight-light text-color-light "> keeping your company's data organized and accessible- a single, unified platform that can be searched with ease</p>
					<a href="/dataware_housing/" class="btn btn-primary btn-modern text-color-light font-weight-bold">READ MORE</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-4 mb-5  appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
		

		<div class="card flip-card flip-card text-center rounded-0">
			<div class="flip-front p-5">
				<div class="flip-content my-4">
					<img src="{% static 'img/homepage/oracledatabase.png'%}" class="img-fluid" alt="SAP "/>
					<h4 class="font-weight-bold text-color-primary text-4">Oracle</h4>
					<p >Our Oracle Cloud services are revolutionizing the way businesses run day-to-day operations. With powerful machine learning technology, our iOS applications provide customers with an integrated suite of </p>	
				</div>
			</div>
			<div class="flip-back d-flex align-items-center p-5" style="background-image: url(static/img/homepage/subhujotechnologies-homepage-services-oracle-390x350.png); background-size: cover; background-position: center;">
				<div class="flip-content my-4">
					<h4 class="font-weight-bold text-color-light"></h4>
					<p class="font-weight-light text-color-light "> solutions for their entire enterprise - from accounting and human resources to marketing/procurement, project management and sales service supply chain transportation.</p>
					<a href="/oracle/" class="btn btn-primary btn-modern text-color-light font-weight-bold">READ MORE</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-lg-4 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
		

		<div class="card flip-card flip-card text-center rounded-0">
			<div class="flip-front p-5">
				<div class="flip-content my-4">
					<img src="{% static 'img/homepage/microsoft.png'%}" class="img-fluid" alt="SAP "/>
					<h4 class="font-weight-bold text-color-primary text-4">Microsoft Implementation & Support</h4>
					<p >Subhujo Technologies provides specialized services and solutions that help customers realize their full potential by optimizing business applications, platforms,</p>	
				</div>
			</div>
			<div class="flip-back d-flex align-items-center p-5" style="background-image: url(static/img/homepage/subhujotechnologies-homepage-services-microsoftimplementation&support-390x350.png); background-size: cover; background-position: center;">
				<div class="flip-content my-4">
					<h4 class="font-weight-bold text-color-light"></h4>
					<p class="font-weight-light text-color-light ">  services and performance. With our expert knowledge of Microsoft enterprise products to guide us, we ensure businesses can stay up-to date with the ever changing business environment.</p>
					<a href="/microsoft_implementation/" class="btn btn-primary btn-modern text-color-light font-weight-bold">LEARN MORE</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- </div> -->
<!-- services -end-->
				<div class="container mb-5 pb-4">

					<!-- <div class="row">
						<div class="col mb-4">
							<hr class="my-5">
						</div>
					</div> -->

					<!-- <div class="row pb-3">
						<div class="col-lg-8">
							<h2 class="font-weight-normal text-7">Our <strong class="font-weight-extra-bold">Features</strong></h2>
							<div class="row">
								<div class="col-sm-6">
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="icons icon-support text-color-primary"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="font-weight-bold text-4-5 mb-1">Customer Support</h4>
											<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
										</div>
									</div>
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="icons icon-doc text-color-primary"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="font-weight-bold text-4-5 mb-1">HTML5 / CSS3 / JS</h4>
											<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
										</div>
									</div>
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="icons icon-social-google text-color-primary"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="font-weight-bold text-4-5 mb-1">500+ Google Fonts</h4>
											<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
										</div>
									</div>
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="icons icon-pencil text-color-primary"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="font-weight-bold text-4-5 mb-1">Colors</h4>
											<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="icons icon-layers text-color-primary"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="font-weight-bold text-4-5 mb-1">Sliders</h4>
											<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
										</div>
									</div>
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="icons icon-user text-color-primary"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="font-weight-bold text-4-5 mb-1">Icons</h4>
											<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
										</div>
									</div>
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="icons icon-menu text-color-primary"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="font-weight-bold text-4-5 mb-1">Buttons</h4>
											<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
										</div>
									</div>
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="icons icon-screen-desktop text-color-primary"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="font-weight-bold text-4-5 mb-1">Lightbox</h4>
											<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<h2 class="font-weight-normal text-6">and more...</h2>

							<div class="accordion accordion-modern" id="accordion">
								<div class="card card-default">
									<div class="card-header">
										<h4 class="card-title m-0">
											<a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseOne">
												<i class="icons icon-diamond text-color-primary"></i>
												Creative Websites
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="collapse show">
										<div class="card-body text-2">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blanorem ipsum dolor sit amet, consecte.</p>
											<p class="mb-0">Adipiscing elit phasellus blanit ma... <a href="#" class="d-block text-color-dark font-weight-semibold pt-4">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a></p>
										</div>
									</div>
								</div>
								<div class="card card-default">
									<div class="card-header">
										<h4 class="card-title m-0">
											<a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseTwo">
												<i class="icons icon-bubble text-color-primary"></i>
												Contact Forms
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="collapse">
										<div class="card-body text-2">
											<p class="mb-0">Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
										</div>
									</div>
								</div>
								<div class="card card-default">
									<div class="card-header">
										<h4 class="card-title m-0">
											<a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseThree">
												<i class="icons icon-grid text-color-primary"></i>
												Portfolio Pages
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="collapse">
										<div class="card-body text-2">
											<p class="mb-0">Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->

					<hr class="solid my-5">
					

					<div class="row text-center pt-4">
						<div class="col">
							<h2 class="word-rotator slide font-weight-bold text-8 mb-2">
								<span>We're not the only ones </span>
								<span class="word-rotator-words bg-high">
									<b class="is-visible">excited</b>
									<b>happy</b>
								</span>
								<span> Subhujo technologies...</span>
							</h2>
							<h4 class="text-primary lead tall text-4"> MEET OUR CLIENTS.</h4>
						</div>
					</div>

					<div class="row text-center mt-5">
						<div class="owl-carousel owl-theme " data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-discovery-200x80.png'%}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-hcl-200x80.png'%}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-momentum-200x80.png'%}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-nedbank-200x80.png'%}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-postbank-200x80.png'%}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-sanral-200x80.png'%}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-standardbank-200x80.png'%}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-tcm-200x80.png'%}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-tcta-200x80.png'%}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-techmahindra-200x80.png'%}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-transnet-200x80.png'%}" alt="">
							</div>
							<div>
								<img class="img-fluid" src="{% static 'img/homepage/subhujotechnologies-homepage-ourclients-tsystems-200x80.png'%}" alt="">
							</div>
						</div>
						
					</div>

				</div>

				<section class="section section-custom-map appear-animation lazyload d-none d-lg-block" data-appear-animation="fadeInUpShorter" data-src-bg="img/map.png" style="background-color: transparent; background-position: center 0; background-repeat: no-repeat;">
					<section class="section section-default section-footer">
						<div class="container">
							<div class="row mt-5 mb-5 appear-animation" data-appear-animation="fadeInUpShorter">
								
								
							</div>
						</div>
					</section>
				</section>
			</div>


			<!-- <section class="section section-height-3 section-background section-text-light section-center overlay overlay-show overlay-op-9 overlay-color-primary m-0 appear-animation" data-appear-animation="fadeIn" style="background-image: url(img/bg-corporate-1-1.jpg); background-size: cover; background-position: center;">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-10 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
							<div class="owl-carousel owl-theme nav-bottom rounded-nav dots-light mb-0" data-plugin-options="{'items': 1, 'loop': false, 'autoHeight': true}">
								<div>
									<div class="col">
										<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
											<div class="testimonial-author">
												<img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
											</div>
											<blockquote>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ante tellus, convallis non consectetur sed, pharetra nec ex.</p>
											</blockquote>
											<div class="testimonial-author">
												<p><strong class="text-2 opacity-10">Name,Desgination</strong></p>
											</div>
										</div>
									</div>
								</div>
								<div>
									<div class="col">
										<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
											<div class="testimonial-author">
												<img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
											</div>
											<blockquote>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											</blockquote>
											<div class="testimonial-author">
												<p><strong class="text-2 opacity-10">Name,Desgination</strong></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->
			
{% endblock %}