<title>subhujo technologies | Offshore  development</title>
{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}
			<div role="main" class="main">
				<section class="page-header bg-primary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0" data-plugin-parallax data-plugin-options="{'speed': 1.2}" >
					<div class="container">
						<div class="row">
							
							<div class="col-md-12 align-self-center p-static text-center mt-2">
								
								<h1 class="font-weight-semibold  text-8 mb-3" data-plugin-animated-words data-plugin-options="{'contentType': 'word', 'animationName': 'fadeInUpShorter', 'animationSpeed': 200, 'startDelay': 0, 'minWindowWidth': 992}">Offshore development</h1>
							</div>
							
							
						</div>
					</div>
				</section>

				<div class="container container-xl-custom pt-5 pb-5 mb-2">
					<div class="row">
						
						<div class="col-lg-12">

							<div class="owl-carousel owl-theme custom-dots my-0" data-plugin-options="{'items': 1, 'margin': 18, 'loop': true, 'nav': false, 'dots': true}">
								<div>
									<img src="{% static 'services/img/subhujotechnologies-services-offshoredevelopment-1050x390.png'%}" class="img-fluid" alt="">
								</div>
								<div>
									<img src="{% static 'services/img/subhujotechnologies-services-offshoredevlopment-1050x390.png'%}" class="img-fluid" alt="">
								</div>
							</div>

							<div class="mt-4">
								

								<p class="text-equal">Subhujo Technologies is the go-to IT services provider for leading multinationals looking to create competitive advantages through access to superior tech talent at low cost locations. Our team has established state of the art R&D labs, software delivery centers and design hubs that enable companies around the world stay ahead in a rapidly changing environment.</p>

								<p class="text-equal">subuhjo technologies provides an innovative solution for businesses to access world-class software development services without the need of a physical office in costly locations. Our experts assist with setting up dedicated offshore development centers across the globe, helping our clients gain maximum advantage from top quality tech talent at low costs.</p>

								<div class="my-4">
									<ul class="list list-icons list-primary list-borders m-0">
										<li><i class="fas fa-check"></i>Access to top talent from anywhere in the world </li>
										<li><i class="fas fa-check"></i>Democratized access to resources for companies of all sizes</li>
										<li><i class="fas fa-check"></i> Increased efficiency and flexibility for businesses </li>
										<li><i class="fas fa-check"></i> Cost effective outsourcing for development projects</li>
									</ul>
								</div>

								<p class="text-equal">Offshore software development is a great choice for businesses looking to expand with the help of cost-effective resources. Subhujo Technologies can provide comprehensive services ranging from full stack mobile app and web solutions, UI/UX design, to quality assurance - no matter where you are in the world! Our developers come from hotspots like South America, Poland & India; areas known by their vast pool of talented personnel who offer business owners attractive rates on their custom programs.</p>

								<!-- <div class="row align-items-center my-5">
									<div class="col-lg-7 position-relative mb-5 mb-lg-0">
										<img src="img/demos/construction-2/about-us/about-1.jpg" class="img-fluid custom-img border-radius-0 max-w-90 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600ms" alt="">
										<img src="img/demos/construction-2/about-us/about-2.jpg" class="img-fluid custom-img border-radius-0 position-absolute custom-img-about appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="600ms" alt="">
									</div>
									<div class="col-lg-5 mt-4 mt-md-5 mt-lg-0">
										<div class="ps-lg-4">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>
											<p class="mb-0">Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales. In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales.</p>
										</div>
									</div>
								</div> -->

								<p class="pt-lg-12 my-4 text-equal">Subhujo Technologies provides businesses with a reliable, cost-effective solution for software development projects: offshore services. Working with our remote and offsite teams allows companies to find the exact expertise they need while avoiding high labor costs associated with local talent. Using an international model of collaboration, we can create quality results in coding & product design as well as custom web applications and mobile apps – along with maintenance & support solutions that guarantee optimal performance long after project completion.</p>

								<div class="my-4">
									<div class="row process process-shapes process-shapes-always-animate">
										<div class="process-step col-md-6 col-lg-6 mb-5 mb-md-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
											<div class="process-step-circle">
												<strong class="process-step-circle-content">01</strong>
											</div>
											<div class="process-step-content">
												<h4 class="mb-1 text-4 font-weight-bold">Contractor ODC Model</h4>
												<p class="mb-0">Subuhjo Technologies offers a cost-effective way for companies to access world class expertise without incurring excessive overhead charges - wages vary from country to country</p>
											</div>
										</div>
										<div class="process-step col-md-6 col-lg-6 mb-5 mb-md-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
											<div class="process-step-circle">
												<strong class="process-step-circle-content">02</strong>
											</div>
											<div class="process-step-content">
												<h4 class="mb-1 text-4 font-weight-bold">Customer ODC Model</h4>
												<p class="mb-0">Subuhjo Technologies provides a unique solution for those looking to expand their business across the global landscape. We enable customers to access custom development centers based on specific requirements;</p>
											</div>
										</div>
										<!-- <div class="process-step col-md-6 col-lg-3 mb-5 mb-md-0 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
											<div class="process-step-circle">
												<strong class="process-step-circle-content">03</strong>
											</div>
											<div class="process-step-content">
												<h4 class="mb-1 text-4 font-weight-bold">testing</h4>
												<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											</div>
										</div>
										<div class="process-step col-md-6 col-lg-3 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
											<div class="process-step-circle">
												<strong class="process-step-circle-content">04</strong>
											</div>
											<div class="process-step-content">
												<h4 class="mb-1 text-4 font-weight-bold">Deploying</h4>
												<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											</div>
										</div> -->
									</div>
								</div>

								<p class="text-equal">Subuhjo Technologies makes growing your business an easier and more affordable journey. With our Contractor ODC Model, you can access world class expertise without breaking the bank - enabling cost-effective wages customized to each country’s environment. Our Customer ODC Model gives unparalleled flexibility by delivering custom software development centers personalized to meet any need – creating a comprehensive global experience with ease!.</p>

							</div>

						</div>
					</div>
				</div>

			</div>
			<section class="bg-color-primary">
				<div class="container container-xl-custom text-center align-items-center justify-content-center py-4">
					<!-- <div class="d-inline-flex align-items-center mx-auto flex-wrap flex-lg-nowrap justify-content-center">
						<h2 class="text-light font-weight-bold my-0 px-4 mb-3 mb-lg-0">Join more than 100K people who trust Porto</h2>
						<a href="" target="_blank" class="btn btn-modern btn-light">Get Quote</a>
					</div> -->
					
						<div class="row justify-content-center ">
							<div class="col-lg-6 ">
								<h4 class="text-light font-weight-bold my-0 px-4 mb-3 mb-lg-0">
									Get in touch with us and let us help you, amazing projects can be build.</h4>
								
							</div>
							<div class="col-lg-6 ">
								<a href="/contact/" target="_blank" class="btn btn-modern btn-light">Get Quote</a>
								
							</div>
						</div>
					
				</div>
			</section>
{% endblock %}