<title>subhujo technologies | Oracle </title>
{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}
			<div role="main" class="main">
				<section class="page-header bg-primary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0" data-plugin-parallax data-plugin-options="{'speed': 1.2}" >
					<div class="container">
						<div class="row">
							
							<div class="col-md-12 align-self-center p-static text-center mt-2">
								
								<h1 class="font-weight-semibold   text-8 mb-3" data-plugin-animated-words data-plugin-options="{'contentType': 'word', 'animationName': 'fadeInUpShorter', 'animationSpeed': 200, 'startDelay': 0, 'minWindowWidth': 992}">Oracle</h1>
							</div>
							
							
						</div>
					</div>
				</section>

				<div class="container container-xl-custom pt-5 pb-5 mb-2">
					<div class="row">
						
						<div class="col-lg-12">

							<div class="owl-carousel owl-theme custom-dots my-0" data-plugin-options="{'items': 1, 'margin': 18, 'loop': true, 'nav': false, 'dots': true}">
								<div>
									<img src="{% static 'services/img/subhujotechnologies-services-oracle-two-1050x390.png'%}" class="img-fluid" alt="">
								</div>
								<div>
									<img src="{% static 'services/img/subhujotechnologies-services-oracle-1050x390.png'%}" class="img-fluid" alt="">
								</div>
							</div>

							<div class="mt-4">
								

								<p class="text-equal">we provide businesses with a comprehensive and integrated cloud suite of applications, platform services, and engineered systems. Our iOCO Oracle Services (iOS) are powered by industry-leading machine learning technology to offer customers the most efficient solution for their entire business operations - from accounting & HR to marketing/procurement project management & sales service supply chain transportation all under one roof.</p>

								<p class="text-equal">Oracle's mission critical servers are designed to help you break records, lower your costs and increase reliability. Armed with built-in virtualization capabilities suitable for Oracle Solaris, Linux or VM systems as well as other popular operating systems, these powerful Sun x86s Blade Servers and Netra carrier grade platforms offer efficient management that could transform your IT landscape!
									that make infrastructures simpler and more efficient. By combining pre-integration, reduced costs, increased productivity, and enhanced performance 
									Oracle's storage solutions deliver unparalleled performance and flexibility for the modern, heterogeneous data centre. ZFS Storage Appliances, SAN storage, Tape storage, and Flash storage provide robust capabilities to simplify IT management while optimizing efficiency.</p>

								<div class="my-4">
									<ul class="list list-icons list-primary list-borders m-0">
										<li><i class="fas fa-check"></i> Unlock the power of cloud, machine learning and iOCO Oracle Services (iOS) with Subuhjo technologies.</li>
										<li><i class="fas fa-check"></i> Our machine learning technology powers everything from accounting to marketing, so you can get your business running optimally - all under one roof.</li>
										<li><i class="fas fa-check"></i> Our Oracle mission critical servers are armed with virtualization capabilities and built-in efficiency management - transforming your IT landscape into an efficient, lower cost powerhouse!</li>
									</ul>
								</div>

								
								

								<p class="pt-lg-12 text-equal">subhujo technologies offer a wide range of Oracle software applications services to help businesses optimize their operations. Our custom solutions include JD Edwards, the most robust, practical and accurate ERP/SCP solution designed to help you get maximum value out of your software. subhujo technologies also provides comprehensive E-Business Suite ERP / SCM / HCM services that help you achieve long-term goals while fulfilling current functional requirements. Finally, subhujo helps customers leverage CRM and MDM features with Siebel, brilliantly empowering customer centric environments through rich integration of BI and MDM capabilities. subhujo's Hyperion EPM offering opens up seamless pathways for transforming data into timely, meaningful Integrated Reporting, Planning and Budgeting frameworks</p>

								<div class="my-4">
									<div class="row process process-shapes process-shapes-always-animate">
										<div class="process-step col-md-6 col-lg-4 mb-5 mb-md-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
											<div class="process-step-circle">
												<strong class="process-step-circle-content">01</strong>
											</div>
											<div class="process-step-content">
												<h4 class="mb-1 text-4 font-weight-bold">Data Security Posture</h4>
												<p class="mb-0">OAAS understands the value of modern data - its currency, and takes measures to protect it.</p>
											</div>
										</div>
										<div class="process-step col-md-6 col-lg-4 mb-5 mb-md-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
											<div class="process-step-circle">
												<strong class="process-step-circle-content">02</strong>
											</div>
											<div class="process-step-content">
												<h4 class="mb-1 text-4 font-weight-bold">Operational Efficiency</h4>
												<p class="mb-0">it is essential to consolidate data centres for cost savings deploy infrastructure </p>
											</div>
										</div>
										<div class="process-step col-md-6 col-lg-4 mb-5 mb-md-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
											<div class="process-step-circle">
												<strong class="process-step-circle-content">03</strong>
											</div>
											<div class="process-step-content">
												<h4 class="mb-1 text-4 font-weight-bold">Compliance and standard Positions</h4>
												<p class="mb-0">Oracle technology requires highly controlled management and compliance.</p>
											</div>
										</div>
										
										
									</div>
								</div>

								<p class="text-equal">Subhujo Technologies recognizes the importance of data security and takes steps to defend it with controls compliant with HIPAA, PoPI and GDPR. To maximize cost savings while anticipating user needs on a dynamic basis, our experts consolidate your data centers for top efficiency - granting near-instant responsiveness every step of the way. For maximum return on investment in Oracle technology solutions, we ensure compliance through policy enforcement along with carefully managed licenses!</p>

							</div>

						</div>
					</div>
				</div>

			</div>
			<section class="bg-color-primary">
				<div class="container container-xl-custom text-center align-items-center justify-content-center py-4">
					<!-- <div class="d-inline-flex align-items-center mx-auto flex-wrap flex-lg-nowrap justify-content-center">
						<h2 class="text-light font-weight-bold my-0 px-4 mb-3 mb-lg-0">Join more than 100K people who trust Porto</h2>
						<a href="" target="_blank" class="btn btn-modern btn-light">Get Quote</a>
					</div> -->
					
						<div class="row justify-content-center ">
							<div class="col-lg-6 ">
								<h4 class="text-light font-weight-bold my-0 px-4 mb-3 mb-lg-0">
									Get in touch with us and let us help you, amazing projects can be build.</h4>
								
							</div>
							<div class="col-lg-6 ">
								<a href="/contact/" target="_blank" class="btn btn-modern btn-light">Get Quote</a>
								
							</div>
						</div>
					
				</div>
			</section>
{% endblock %}