{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}

<div role="main" class="main mb-5">

    <section class="page-header page-header-modern bg-primary page-header-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="font-weight-bold text-">Privacy Policy</h1>
                </div>
                
            </div>
        </div>
    </section>

    <div class="container pt-3 pb-2">

        <div class="row pt-2">

            <div class="col">

                
                <p >Subhujo Technologies respects the privacy of our clients, customers, and employees. We are committed to handling all personal information in keeping with the Personal Information Protection and Electronics Document Act (PIPEDA). We enact this policy by following our Privacy Practices.</p>
                <h5>Collection of Personal Information on our Website</h6>
                <p>In keeping with our commitment to privacy in general, we respect the personal privacy of individuals who visit our website.</p>
                <p>Subhujo Technologies does not automatically gather any personal information from you, such as your name, phone number, email or street address, during your visit to our web site. This information is obtained only if you supply it voluntarily for example, by choosing to send us an email</p>
                <p>At the point of any information collection by Subhujo Technologies, you will be informed that personal information is about to be collected and we will ask for your consent. You will be told the reason that the information is being collected and how you may exercise your right of access to that information. The information will not be disclosed to anyone except our staff who need the information to respond to your request. We do not use the information to create individual profiles, nor do we disclose the information to any party inside or outside of Subhujo Technologies unless authorized by law. All personal information you provide is protected under current privacy legislation.</p>
                <p>Our web server does not use cookies or other session management methods to collect personal data about visitors to our website. Technology dictates that the server is aware of a visitor’s ISP (Internet Service Provider), but this gives us no information of any kind about the individual user.</p>
                <p>We use software programs that monitor network traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage. This software receives and records the IP (Internet Protocol) address of the computer that has contacted our site, the date and time of the visit, and the pages visited. We do not attempt to link these addresses with the identity of individuals visiting our website unless an attempt to damage the site has been detected.</p>
               

            </div>

        </div>

    </div>

</div>
{% endblock %}
